{% extends 'base.html' %}
    {% block content%}
        {% if tag %}
            <br>   
            <a class='btn btn-primary' href = "{% url 'blog:tag_edit' pk=tag.pk %}">Изменить</a>
            <br>  
            <br>   
            <a class='btn btn-primary' href = "{% url 'blog:tag_delete' pk=tag.pk %}">delete</a>
            <br>  
        {% endif %}
        <br>
        {% for post in posts %}
            <div class="card">
             <div class="card-body">
                <a href = "{% url 'blog:post_detail' pk=post.id %}">{{post.name}}</a>
             </div>
            </div>
        {% endfor %}
    {% endblock %}