{% extends 'base.html' %}
    {% block content %}
        <br>
        <a class='btn btn-primary' href = "{% url 'blog:post_edit' pk=post.pk %}">Изменить</a>
        <br>
        <br>
        <a class='btn btn-primary' href = "{% url 'blog:post_delete' pk=post.pk %}">Удалить</a>
        <br>
        <h1>{{post.name}}</h1>
        <p>{{post.article}}</p>
        {% for tag in post.tags.all %}
            <a href="{% url 'blog:tag_detail' pk=tag.id %}"><h1> {{tag.name}} </h1></a>
        {% endfor %}
    {% endblock %}
