{% extends 'base.html' %}
    {% block content %}
        <h1>{{post.views}}</h1>
        <br>
        <a class='btn btn-primary' href = "{% url 'blog:post_edit' pk=post.pk %}">Изменить</a>
        <br>
        <br>
        <a class='btn btn-primary' href = "{% url 'blog:post_delete' pk=post.pk %}">Удалить</a>
        <br>
        <p>{{post.article.html | safe }}</p>
        <button class="btn btn-block btn-primary" id = 'like' ><i class="fa fa-thumbs-up">Like</i> <p id='like_count'>{{post.liked}}</p></button>
        {% for tag in post.tags.all %}
            <a href="{% url 'blog:tag_detail' pk=tag.id %}"><h1> {{tag.name}} </h1></a>
        {% endfor %}
        <br>
        {% for img in image %}
            <img style = "float:right; margin: -560px 00px 0px 15px; width:350px; height:250px;" src="{{img.image.url}}" alt="home" />
        {% endfor %}
        <br>
        {% for com in post.comment.all %}
        <div class="alert alert-secondary" role="alert">
            <h4>{{com.name}}</h4>
            <p> {{com.text}} <p>
        </div>

        {% endfor %}
        <br>
        <br>
        <form action = "{% url 'blog:post_detail' pk=post.pk %}" , method='POST'>
            {% csrf_token %}
            {{form.name}}
            {{form.email}}
            {{form.text}}
            <button class = 'btn btn-primary'>
                Создать
            </button>
        </form>
<script>
$(document).ready(function(){
    $("#like").click(function(){
        $.ajax({
            type: "get",
            url: "{% url 'blog:post_like' pk=post.pk %}",
            method: 'GET',
            dataType: "json",
            data: {
                '1': 1
                },
            success: function(data){
                $('#like_count').text(data['likes']);
            },
            error: function(){
                alert("error");
            }
        });
    });
});
</script>
    {% endblock %}
